﻿<div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissible show">
    <div class="container-fluid">
        <!--  {{alert.message}}-->


        <button type="button" class="close" (click)="removeAlert(alert)">
            <span aria-hidden="true">clear</span>
        </button>

        <!--display data in html format-->
        <span [innerHTML]="alert.message"></span>

        <!--<a class="close" (click)="removeAlert(alert)"><i class="material-icons">clear</i></a>-->
    </div>
</div>



