<div *ngIf="subscriptions">

    <div *ngFor="let sub of subscriptions" class="card">
        <div class="card-header">
            {{ sub.book.name }}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ sub.book.text }}</p>
                <p>{{ sub.book.purchasePrice.amount }} {{ sub.book.purchasePrice.currency }}</p>
            </blockquote>

            <footer>
                <button type="button" class="btn btn-success" *ngIf="!sub.isActive" (click)="onToggle('subscribe', sub.book)">Resubscribe</button>
                <button type="button" class="btn btn-danger" *ngIf="sub.isActive" (click)="onToggle('unsubscribe', sub.book)">Unsubscribe</button>
            </footer>
        </div>
    </div>

</div>


