<table *ngIf="books" class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Text</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of books">
        <td>{{ item.book.name }}</td>
        <td>{{ item.book.text }}</td>
        <td>{{ item.book.purchasePrice.amount }} {{ item.book.purchasePrice.currency }}</td>
        <td>
            <button type="button" class="btn btn-success" *ngIf="!item.isActive" (click)="onToggle('subscribe', item.book)">Subscribe</button>
            <button type="button" class="btn btn-danger" *ngIf="item.isActive" (click)="onToggle('unsubscribe', item.book)">Unsubscribe</button>
        </td>
    </tr>
    </tbody>
</table>